Trans API/service-function-description-monitor-report@2014-11-05-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:sf-desc-mon-rpt="urn.intel.params:xml:ns:sf-desc-mon-rpt" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="config"><interleave><grammar ns="urn.intel.params:xml:ns:sf-desc-mon-rpt"><include href="./service-function-description-monitor-report@2014-11-05-gdefs-config.rng"/><start><optional><element name="sf-desc-mon-rpt:service-function"><interleave><optional><element name="sf-desc-mon-rpt:description-info"><ref name="service-function-description-monitor-report___SF-description"/></element></optional><optional><element name="sf-desc-mon-rpt:monitoring-info"><ref name="service-function-description-monitor-report___SF-monitoring-info"/></element></optional></interleave></element></optional></start></grammar></interleave></element></start></grammar>
